.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: royalblue;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  width: 100%;
}

.form label {
  position: relative;
}

.form .inputContainer {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  margin-top: 6px;
}

.labelText {
  color: gray;
  font-size: 0.8em;
  cursor: text;
  font-weight: 600;
}

.errorText {
  position: absolute;
  left: 0;
  bottom: -1.6em;
  color: red;
  font-size: 0.7em;
  cursor: text;
  font-weight: 500;
}
