.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.heading {
  color: darkslategrey;
}

.caption {
  color: steelblue;
}

.email {
  color: cornflowerblue;
}
